<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> SJTU news searcher </title>
  </head>
  <body>
    <h1> SJTU news searcher </h1>
    <form action="" method="POST">
      <label>title</label>
      <input type="name" name="title"><br>
      <label>author</label>
      <input type="name" name="author"><br>
      <label>photography</label>
      <input type="name" name="photography"><br>
      <label>source</label>
      <input type="name" name="source"><br>
      <label>contents</label>
      <input type="name" name="contents"><br>
      <input type="submit" name="">
    </form> 
  </body>  

</html>